@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jost:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,300;1,500;1,700;1,900&family=Moirai+One&display=swap');

:root{
    --marrom: #7E5A38;
    --marrom-2: #201a14;
    --dourado-1: #C98F59;
    --dourado-2: #937F6D;
    --dourado-3: #C9AE95;
    --dourado-4: #4A3521;
    --dourado-5: #8A623D;
    --transition: 0.25s ease-in-out;
    --gradiente: linear-gradient(
        45deg,
        var(--dourado-1),
        var(--dourado-2),
        var(--dourado-3),
        var(--dourado-5),
        var(--dourado-4)
    );
}

/* MAIN */

.miolo{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.dois-mil{
    padding: 0;
    max-width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dois-mil p{
    text-align: center;
    width: 90%;
    margin: 0;
    padding: 0;
    font-size: 10rem;
    font-family: 'Jost';
    font-weight: 100;
    background-image: var(--gradiente);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.as-fota{
    margin: 0;
    padding: 0;
    display: flex;
    max-width: auto;
}

.fota{
    max-width: 20%;
    height: auto;
    transition: var(--transition);
}
.fota:hover{
    scale: 1.075;
}

.pecas{
    width: auto;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.a-peca{
    max-width: auto;
}

.colecao{
    display: flex;
    align-items: center;
}

.colecao img{
    max-width: 100%;
}